@using Rotativa.AspNetCore
@using Rotativa.AspNetCore.Options
@using System.Web
@using Common.DTO.RestrictiveLists
@model Common.DTO.IndividualQueryResponseDTO
@{
    Layout = null;
    ViewData["Title"] = "Consulta individual";
    //Layout = "~/Views/Shared/_LayoutPDF.cshtml";
    List<ListDTO> restrictiveLists = new List<ListDTO>();
    List<ListDTO> laftPenalLists = new List<ListDTO>();
    List<ListDTO> laftAdminLists = new List<ListDTO>();
    List<ListDTO> sanctionsAffectationLists = new List<ListDTO>();
    List<ListDTO> pepsLists = new List<ListDTO>();
    foreach (var item in Model.lists)
    {
        switch (item.ListGroupId)
        {
            case 1:
                restrictiveLists.Add(item);
                break;
            case 2:
                laftPenalLists.Add(item);
                break;
            case 3:
                laftAdminLists.Add(item);
                break;
            case 4:
            case 5:
                sanctionsAffectationLists.Add(item);
                break;
            case 6:
            case 7:
                pepsLists.Add(item);
                break;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.material.mobile.min.css" />
    @*@section Styles{*@
    <style>
        #chart {
            max-width: 650px;
            margin: 35px auto;
        }

        .text-primary-report {
            color: #182945;
        }

        .headerReportData {
            background-color: #182945;
        }

            .headerReportData > p {
                color: white;
            }

        /*  .flexrow {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: flex !important;
                                }

                                    .flexrow > div {
                                        -webkit-box-flex: 1;
                                        -webkit-flex: 1;
                                        flex: 1;
                                    }

                                .printDetails > div {
                                    display: inline-block;
                                }*/

    </style>
    @*}*@
</head>
<body>
    <div class="container-fluid" data-layout="container">
        <div class="content">
            <header>
                <div class="d-flex mb-5">
                    <div class="flex-grow-1">
                        @*<img src="@Model.Logo" style="max-height:100px;width:auto;" />*@
                    </div>
                    <div>
                        <img src="@Url.Content("~/img/logo/inspektor.png")" class="ml-3" style="max-height:100px;width:auto;border-right: 1px dashed #898585;" />
                        <img src="@Url.Content("~/img/logo/logo_risk.png")" class="ml-3" style="max-height:100px;width:auto;border-right: 1px dashed #898585;" />
                        <img src="@Url.Content("~/img/logo/iso.png")" class="ml-3" style="max-height:100px;width:auto;" />
                    </div>
                </div>
            </header>
            <article>
                <div class="row align-items-center mb-5">
                    <div class="col text-center py-2 py-lg-4 light">
                        <div class="bg-holder rounded-3 overlay overlay-0" style="background-color:#e9edf0;opacity: .2;">
                            @*<div class="bg-holder rounded-3 overlay overlay-0" style="background-image:url(../img/illustrations/report.jpg);">*@
                        </div>
                        <div class="position-relative text-center">
                            <h4 style="font-size:30px;color:#182945">Reporte Consulta No. @((int)Model.query.IdQueryCompany)</h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xs-6 col-md-6 col-sm-12 text-center border border-dark p-4 headerReportData">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">Información Consulta </p>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-12  pb-4 text-center  border border-dark p-4 headerReportData">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">Información Reporte </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center border border-dark p-4 ">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Nombre de Usuario Consulta</b></p>
                    </div>
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@Model.user.Name </p>
                    </div>
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Nombre de Usuario Reporte </b></p>
                    </div>
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@Model.user.Login </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Fecha y Hora de Consulta </b></p>
                    </div>
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@Model.query.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss") </p>
                    </div>
                    <div class="ccol-xs-3 col-3 col-md-3 pb-4 text-center border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Fecha y Hora del Reporte </b></p>
                    </div>
                    <div class="col-xs-3 col-3 col-md-3 pb-4 text-center border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12 text-center border border-dark p-4 headerReportData">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">Datos Consultados </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-6 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Nombre </b></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-6 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@Model.name </p>
                    </div>
                </div>
                <div class="row flexrow">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-6 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Numero de identificación </b></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-6 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@Model.document </p>
                    </div>
                </div>
                <div class="row flexrow">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-6 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2 text-dark"><b>Tipo de Tercero</b></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-6 pb-4 text-center  border border-dark p-4">
                        <p class="font-sans-serif lh-1 mb-1 fs-2">@Model.thirdType </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-5">
                        <div id="chart"></div>
                    </div>
                </div>

                <div class="row printDetails mt-5">
                    <div class="col-12 mt-5">

                        <div class="text-center fw-bold">
                            <h3 class="text-primary-report">Listas Restrictivas (@restrictiveLists.Count() Resultados) </h3>
                        </div>
                        <div class="table-responsive mt-3">
                            @if (@restrictiveLists.Count() > 0)
                            {
                                <table class="table table-bordered table-fixed w-auto">
                                    <thead style="background-color: #990000 !important;color:white;">
                                        <tr>
                                            <th scope="col">Prioridad</th>
                                            <th scope="col">Tipo Documento</th>
                                            <th scope="col">Documento Identidad</th>
                                            <th scope="col">Nombre Completo</th>
                                            <th scope="col">Nombre Tipo Lista</th>
                                            <th scope="col">Tipo Persona</th>
                                            <th class="th-md" scope="col">Alias</th>
                                            <th scope="col">Cargo o Delito</th>
                                            <th scope="col">Zona</th>
                                            <th scope="col">Otra Informacion</th>
                                            <th scope="col">Justificación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in restrictiveLists)
                                        {


                                            <tr>
                                                <td scope="row">@item.Priority</td>
                                                <td>@item.NameTypeDocument</td>
                                                <td>@item.Identification</td>
                                                <td>@item.Name</td>
                                                <td>@item.NameListType</td>
                                                <td>@item.KindPerson</td>
                                                <td>@item.Alias</td>
                                                <td>@item.Crime.Substring(0, Math.Min(@item.Crime.Length, 150)) ...</td>
                                                <td>@item.Zone</td>
                                                <td>@item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150)) ...</td>
                                                <td>@(item.MoreInformation!=null?(item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150))):"")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>

                        <div class="text-center fw-bold">
                            <h3 class="text-primary-report">Listas asociadas a LA/FT/FPADM, Corrupción u otros delitos (Penal) y Extinción de Dominio (@laftPenalLists.Count() Resultados) </h3>
                        </div>
                        <div class="table-responsive mt-3">
                            @if (@laftPenalLists.Count() > 0)
                            {
                                <table class="table table-bordered table-fixed w-auto">
                                    <thead style="background-color: #990000 !important;color:white;">
                                        <tr>
                                            <th scope="col">Prioridad</th>
                                            <th scope="col">Tipo Documento</th>
                                            <th scope="col">Documento Identidad</th>
                                            <th scope="col">Nombre Completo</th>
                                            <th scope="col">Nombre Tipo Lista</th>
                                            <th scope="col">Tipo Persona</th>
                                            <th class="th-md" scope="col">Alias</th>
                                            <th scope="col">Cargo o Delito</th>
                                            <th scope="col">Zona</th>
                                            <th scope="col">Otra Informacion</th>
                                            <th scope="col">Justificación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in laftPenalLists)
                                        {
                                            <tr>
                                                <td scope="row">@item.Priority</td>
                                                <td>@item.NameTypeDocument</td>
                                                <td>@item.Identification</td>
                                                <td>@item.Name</td>
                                                <td>@item.NameListType</td>
                                                <td>@item.KindPerson</td>
                                                <td>@item.Alias</td>
                                                <td>@item.Crime.Substring(0, Math.Min(@item.Crime.Length, 150)) ...</td>
                                                <td>@item.Zone</td>
                                                <td>@item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150)) ...</td>
                                                <td>@(item.MoreInformation!=null?(item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150))):"")</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="text-center fw-bold">
                        <h3 class="text-primary-report">Listas Asociadas a LA/FT, Corrupción u otros delitos (Penal) (@laftAdminLists.Count() Resultados)</h3>
                    </div>
                    <div class="table-responsive">
                        @if (@laftAdminLists.Count() > 0)
                        {
                            <table class="table table-bordered table-fixed">
                                <thead style="background-color: #ff0000 !important;color:white;">
                                    <tr>
                                        <th class="th-sm" scope="col">Prioridad</th>
                                        <th scope="col">Tipo Documento</th>
                                        <th scope="col">Documento Identidad</th>
                                        <th scope="col">Nombre Completo</th>
                                        <th scope="col">Nombre Tipo Lista</th>
                                        <th scope="col">Tipo Persona</th>
                                        <th class="th-md" scope="col">Alias</th>
                                        <th scope="col">Cargo o Delito</th>
                                        <th scope="col">Zona</th>
                                        <th scope="col">Otra Informacion</th>
                                        <th scope="col">Justificación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in laftAdminLists)
                                    {
                                        <tr>
                                            <td scope="row">@item.Priority</td>
                                            <td>@item.NameTypeDocument</td>
                                            <td>@item.Identification</td>
                                            <td>@item.Name</td>
                                            <td>@item.NameListType</td>
                                            <td>@item.KindPerson</td>
                                            <td>@item.Alias</td>
                                            <td>@item.Crime.Substring(0, Math.Min(@item.Crime.Length, 150)) ...</td>
                                            <td>@item.Zone</td>
                                            <td>@item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150)) ...</td>
                                            <td>@(item.MoreInformation!=null?(item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150))):"")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="text-center fw-bold">
                        <h3 class="text-primary-report">Listas Asociadas a LA/FT, Corrupción u otros similares (Administrativo) (@sanctionsAffectationLists.Count() Resultados)</h3>
                    </div>
                    <div class="table-responsive" id="listAdminCollapse">
                        @if (@sanctionsAffectationLists.Count() > 0)
                        {
                            <table class="table table-bordered table-fixed">
                                <thead style="background-color: #FFFF00 !important;color:white;">
                                    <tr>
                                        <th class="th-sm" scope="col">Prioridad</th>
                                        <th scope="col">Tipo Documento</th>
                                        <th scope="col">Documento Identidad</th>
                                        <th scope="col">Nombre Completo</th>
                                        <th scope="col">Nombre Tipo Lista</th>
                                        <th scope="col">Tipo Persona</th>
                                        <th class="th-md" scope="col">Alias</th>
                                        <th scope="col">Cargo o Delito</th>
                                        <th scope="col">Zona</th>
                                        <th scope="col">Otra Informacion</th>
                                        <th scope="col">Justificación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in sanctionsAffectationLists)
                                    {
                                        <tr>
                                            <td scope="row">@item.Priority</td>
                                            <td>@item.NameTypeDocument</td>
                                            <td>@item.Identification</td>
                                            <td>@item.Name</td>
                                            <td>@item.NameListType</td>
                                            <td>@item.KindPerson</td>
                                            <td>@item.Alias</td>
                                            <td>@item.Crime.Substring(0, Math.Min(@item.Crime.Length, 150)) ...</td>
                                            <td>@item.Zone</td>
                                            <td>@item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150)) ...</td>
                                            <td>@(item.MoreInformation!=null?(item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150))):"")</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="text-center fw-bold">
                        <h3 class="text-primary-report">Listas Informativas y PEPS (@pepsLists.Count() Resultados)</h3>
                    </div>
                    <div class="table-responsive">
                        @if (@pepsLists.Count() > 0)
                        {
                            <table class="table table-bordered table-fixed">
                                <thead style="background-color: #008000 !important;color:white;">
                                    <tr>
                                        <th class="th-sm" scope="col">Prioridad</th>
                                        <th scope="col">Tipo Documento</th>
                                        <th scope="col">Documento Identidad</th>
                                        <th scope="col">Nombre Completo</th>
                                        <th scope="col">Nombre Tipo Lista</th>
                                        <th scope="col">Tipo Persona</th>
                                        <th class="th-md" scope="col">Alias</th>
                                        <th scope="col">Cargo o Delito</th>
                                        <th scope="col">Zona</th>
                                        <th scope="col">Otra Informacion</th>
                                        <th scope="col">Justificación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in pepsLists)
                                    {
                                        <tr>
                                            <td scope="row">@item.Priority</td>
                                            <td>@item.NameTypeDocument</td>
                                            <td>@item.Identification</td>
                                            <td>@item.Name</td>
                                            <td>@item.NameListType</td>
                                            <td>@item.KindPerson</td>
                                            <td>@item.Alias</td>
                                            <td>@item.Crime.Substring(0, Math.Min(@item.Crime.Length, 150)) ...</td>
                                            <td>@item.Zone</td>
                                            <td>@item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150)) ...</td>
                                            <td>@(item.MoreInformation!=null?(item.MoreInformation.Substring(0, Math.Min(@item.MoreInformation.Length, 150))):"")</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="text-center fw-bold">
                        <h3 class="text-primary-report"> Listas Propias (@Model.ownLists.Count() Resultados)</h3>
                    </div>
                    <div class="table-responsive" id="listPropiasCollapse">
                        @if (@Model.ownLists.Count() > 0)
                        {
                            <table class="table table-bordered table-fixed">
                                <thead style="background-color: #284775 !important;color:white;">
                                    <tr>
                                        <th class="th-sm" scope="col">Tipo Documento</th>
                                        <th scope="col">Documento Identidad	</th>
                                        <th scope="col">Nombre Completo	</th>
                                        <th scope="col">Nombre Tipo Lista</th>
                                        <th scope="col">Tipo Persona</th>
                                        <th scope="col">Alias</th>
                                        <th scope="col">Cargo o Delito</th>
                                        <th scope="col">Otra Informacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ownLists)
                                    {


                                        <tr>
                                            <td>@item.DocumentType</td>
                                            <td>@item.Identification</td>
                                            <td>@item.Name</td>
                                            <td>@item.OwnlistTypeName</td>
                                            <td>@item.OwnlistTypeName</td>
                                            <td>@item.Alias</td>
                                            <td>@item.Crime</td>
                                            <td>@item.MoreInformation</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="col-12 mt-3">
                    @if (@Model.hasProcuraduria)
                    {
                        @if(!Model.procuraduria.HasError)
                        {
                            <div class="text-center fw-bold">
                                <h3 class="text-primary-report"> Resultado Procuraduria</h3>
                            </div>
                            <div>
                                @(Html.Raw(HttpUtility.HtmlDecode(Model.procuraduria.Data.html_response)))
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report"> Resultado Procuraduria</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.procuraduria.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasRamaJudicial)
                    {
                        @if (!@Model.ramaJudicial.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report"> Rama judicial (@Model.ramaJudicial.Data.Count() Resultados)</h3>
                                        </div>                                        
                                    </div>
                                    <div class="table-responsive">
                                        @if (@Model.ramaJudicial.Data.Count() > 0)
                                        {
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Id proceso</th>
                                                        <th class="th-sm" scope="col">Número de Radicación</th>
                                                        <th scope="col">fecha proceso</th>
                                                        <th scope="col">Fecha ultima actuacion</th>
                                                        <th scope="col">Despacho</th>
                                                        <th scope="col">Departamento</th>
                                                        <th scope="col">Sujetos procesales</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.ramaJudicial.Data)
                                                    {


                                                        <tr>
                                                            <td>@item.idProceso</td>
                                                            <td>
                                                                <a target="_blank" href="https://consultaprocesos.ramajudicial.gov.co/Procesos/NumeroRadicacion">
                                                                    <span class="badge rounded-pill badge-soft-primary">@item.llaveProceso</span>
                                                                </a>
                                                            </td>
                                                            <td>@item.fechaProceso</td>
                                                            <td>@item.fechaUltimaActuacion</td>
                                                            <td>@item.departamento</td>
                                                            <td>@item.sujetosProcesales</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else 
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report"> Rama judicial</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.ramaJudicial.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasRamaJudicialJEMPS)
                    {
                        @if (!@Model.ramaJudicialJEMPS.HasError) 
                        {
                            <div class="card border h-100 border-dark">
                            <div class="card-body">
                                <div class="card-title">
                                    <div class="text-center fw-bold">
                                        <h3 class="text-primary-report">Rama judicial JEMPS (@Model.ramaJudicialJEMPS.Data.Count() Resultados)</h3>
                                    </div>                                   
                                </div>
                                <div class="table-responsive" id="listRamaJudicialJEMPSCollapse">
                                    @if (@Model.ramaJudicialJEMPS.Data.Count() > 0)
                                    {
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm" scope="col">Nombre</th>
                                                    <th class="th-sm" scope="col">Identificacion</th>
                                                    <th scope="col">Ciudad</th>
                                                    <th scope="col">Radicado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ramaJudicialJEMPS.Data)
                                                {
                                                    <tr>
                                                        <td>@item.NameResult</td>
                                                        <td>@item.IdentificationNumberResult</td>
                                                        <td>@item.CityName</td>
                                                        <td>
                                                            <a target="_blank" href="@item.Link">
                                                                <span class="far fa-eye" target="_blank" data-bs-toggle="tooltip"
                                                          data-bs-placement="top" title="ver radicado"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Rama judicial JEMPS</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive" id="listRamaJudicialJEMPSCollapse">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.ramaJudicialJEMPS.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasMilitary)
                    {
                        @if (!@Model.military.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio Ejercito Nacional</h3>
                                        </div>                                        
                                    </div>
                                    <div class="table-responsive" id="listMilitaryCollapse">
                                        @if (@Model.military.Data.Error == "")
                                        {
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Nombre</th>
                                                        <th scope="col">Tipo Reservista</th>
                                                        <th scope="col">Lugar</th>
                                                        <th scope="col">Dirección</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.military.Data.Name</td>
                                                        <td>@Model.military.Data.ReservationType</td>
                                                        <td>@Model.military.Data.Place</td>
                                                        <td>@Model.military.Data.Address</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm text-center" scope="col">Error</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">@Model.military.Data.Error</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio Ejercito Nacional</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive" id="listMilitaryCollapse">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.military.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasRues)
                    {
                        @if (!@Model.rues.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio RUES</h3>
                                        </div>                                          
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm" scope="col">Razón Social</th>
                                                    <th class="th-sm" scope="col">Nit</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Municipio</th>
                                                    <th scope="col">Categoria</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.rues.Data.RazonSocialONombre</td>
                                                    <td>@Model.rues.Data.Nit</td>
                                                    <td>@Model.rues.Data.Estado</td>
                                                    <td>@Model.rues.Data.municipio</td>
                                                    <td>@Model.rues.Data.Categoria</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio RUES</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.rues.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasSuperSocieties)
                    {
                        @if (!@Model.superSocieties.HasError)
                        {
                            @if (@Model.superSocieties.data == null)
                            {
                                <div class="card border h-100 border-dark">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="text-center fw-bold">
                                                <h3 class="text-primary-report">Servicio SuperSociedades</h3>
                                            </div>                                            
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm text-center" scope="col">Información</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">@Model.superSocieties.ErrorMessage</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card border h-100 border-dark">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="text-center fw-bold">
                                                <h3 class="text-primary-report">Servicio SuperSociedades</h3>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table mt-3 table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Dirección Judicial</th>
                                                        <th class="th-sm" scope="col">Ciudad Judicial</th>
                                                        <th scope="col">Departamento Judicial</th>
                                                        <th scope="col">Dirección Domicilio</th>
                                                        <th scope="col">Ciudad Domicilio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.superSocieties.data.DireccionJudicial</td>
                                                        <td>@Model.superSocieties.data.CiudadJudicial</td>
                                                        <td>@Model.superSocieties.data.DepartamentoJudicial</td>
                                                        <td>@Model.superSocieties.data.DireccionDomicilio</td>
                                                        <td>@Model.superSocieties.data.CiudadDomicilio</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table mt-3 table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Departamento Domicilio</th>
                                                        <th class="th-sm" scope="col">Correo Electrónico</th>
                                                        <th scope="col">Nit</th>
                                                        <th scope="col">Razón Social</th>
                                                        <th scope="col">Expediente</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.superSocieties.data.DepartamentoDomicilio</td>
                                                        <td>@Model.superSocieties.data.CorreoElectronico</td>
                                                        <td>@Model.superSocieties.data.Nit</td>
                                                        <td>@Model.superSocieties.data.RazonSocial</td>
                                                        <td>@Model.superSocieties.data.Expediente</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table mt-3 table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Sigla</th>
                                                        <th class="th-sm" scope="col">Objeto Social</th>
                                                        <th scope="col">Estado</th>
                                                        <th scope="col">Fecha Estado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.superSocieties.data.Sigla</td>
                                                        <td>@Model.superSocieties.data.ObjetoSocial</td>
                                                        <td>@Model.superSocieties.data.Estado</td>
                                                        <td>@Model.superSocieties.data.FechaEstado</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table mt-3 table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Etapa Situación</th>
                                                        <th class="th-sm" scope="col">Fecha Situación</th>
                                                        <th scope="col">Fecha Etapa</th>
                                                        <th scope="col">Causal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.superSocieties.data.EtapaSituacion</td>
                                                        <td>@Model.superSocieties.data.FechaSituacion</td>
                                                        <td>@Model.superSocieties.data.FechaEtapa</td>
                                                        <td>@Model.superSocieties.data.Causal</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            @if (@Model.superSocieties.data.JuntaDirectivaPrincipal.Count() > 0)
                                            {
                                                <table class="table mt-3 table-bordered table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <th class="th-sm" scope="col">Junta Directiva Principal/th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.superSocieties.data.JuntaDirectivaPrincipal)
                                                        {
                                                            <tr>
                                                                <td>@item</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }

                                            @if (@Model.superSocieties.data.JuntaDirectivaSuplente.Count() > 0)
                                            {
                                                <table class="table mt-3 table-bordered table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <th class="th-sm" scope="col">Junta Directiva Suplente/th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.superSocieties.data.JuntaDirectivaSuplente)
                                                        {
                                                            <tr>
                                                                <td>@item</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }

                                            <table class="table mt-3 table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Contador</th>
                                                        <th class="th-sm" scope="col">Revisor Fiscal</th>
                                                        <th scope="col">Representante Legal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.superSocieties.data.Contador</td>
                                                        <td>@Model.superSocieties.data.RevisorFiscal</td>
                                                        <td>@Model.superSocieties.data.RepresentanteLegal</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio SuperSociedades</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.superSocieties.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasRegistryDeaths)
                    {
                        @if (!@Model.RegistryDeaths.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio Defunciones Registraduria</h3>
                                        </div>                                        
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Vigencia</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.RegistryDeaths.Data.vigencia</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Servicio Defunciones Registraduria</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.RegistryDeaths.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasSimit)
                    {
                        @if (!@Model.simit.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Consulta servicio SIMIT (@Model.simit.Data.Count() Resultados)</h3>
                                        </div>                                         
                                    </div>
                                    <div class="table-responsive">
                                        @if (@Model.simit.Data.Count() > 0)
                                        {
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Tipo</th>
                                                        <th class="th-sm" scope="col">Notificación</th>
                                                        <th scope="col">Placa</th>
                                                        <th scope="col">Secretaría</th>
                                                        <th scope="col">Infracción</th>
                                                        <th scope="col">Estado</th>
                                                        <th scope="col">Valor</th>
                                                        <th scope="col">Valor a pagar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.simit.Data)
                                                    {
                                                        <tr>
                                                            <td>@item.type</td>
                                                            <td>@item.notification</td>
                                                            <td>@item.plate</td>
                                                            <td>@item.secretaryship</td>
                                                            <td>@item.infringement</td>
                                                            <td>@item.state</td>
                                                            <td>@item.amount</td>
                                                            <td>@item.amountToPaid</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <th class="th-sm text-center" scope="col">Información</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center">@Model.simit.ErrorMessage</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Consulta servicio SIMIT</h3>
                                        </div> 
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.simit.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasEstadoEPS)
                    {
                        @if (!@Model.eps.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Consulta de Estado EPS</h3>
                                        </div>                                         
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm" scope="col">Estado</th>
                                                    <th class="th-sm" scope="col">Entidad</th>
                                                    <th class="th-sm" scope="col">Regimen</th>
                                                    <th class="th-sm" scope="col">Fecha efectiva</th>
                                                    <th class="th-sm" scope="col">Fecha Terminación</th>
                                                    <th class="th-sm" scope="col">Tipo de afiliado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.eps.Data.State</td>
                                                    <td>@Model.eps.Data.Entity</td>
                                                    <td>@Model.eps.Data.Regime</td>
                                                    <td>@Model.eps.Data.EffectiveDate</td>
                                                    <td>@Model.eps.Data.EndDate</td>
                                                    <td>@Model.eps.Data.AffiliateType</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Consulta de Estado EPS</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.eps.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasEstadoPermiso)
                    {
                        @if (!@Model.Ppt.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Consulta de Estado Permiso por Protección temporal (nacionales venezolanos)</h3>
                                        </div>                                        
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm" scope="col">Nombre</th>
                                                    <th class="th-sm" scope="col">Tipo identificación</th>
                                                    <th class="th-sm" scope="col">Identificación</th>
                                                    <th class="th-sm" scope="col">Correo</th>
                                                    <th class="th-sm" scope="col">Teléfono</th>
                                                    <th class="th-sm" scope="col">Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.Ppt.Data.Name</td>
                                                    <td>@Model.Ppt.Data.IdentificationType</td>
                                                    <td>@Model.Ppt.Data.Identification</td>
                                                    <td>@Model.Ppt.Data.Correo</td>
                                                    <td>@Model.Ppt.Data.Telefono</td>
                                                    <td>@Model.Ppt.Data.Status</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Consulta de Estado Permiso por Protección temporal (nacionales venezolanos)</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.Ppt.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasAntecedentesCriminales)
                    {
                        @if (!@Model.criminalRecordEcuador.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Pasado Judicial</h3>
                                        </div>                                        
                                    </div>
                                    @if (@Model.criminalRecordEcuador.Data.document != string.Empty)
                                    {
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Antecedente</th>
                                                        <th class="th-sm" scope="col">Tipo documento</th>
                                                        <th class="th-sm" scope="col">Documento</th>
                                                        <th class="th-sm" scope="col">Nombre</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.criminalRecordEcuador.Data.criminalRecord</td>
                                                        <td>@Model.criminalRecordEcuador.Data.documentType</td>
                                                        <td>@Model.criminalRecordEcuador.Data.document</td>
                                                        <td>@Model.criminalRecordEcuador.Data.name</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm text-center" scope="col">Error</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">@Model.criminalRecordEcuador.Data.error</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Pasado Judicial</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.criminalRecordEcuador.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                   
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasInformacionJudicial)
                    {
                        @if (!@Model.infoJudicialEcuador.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">información Judicial (@Model.infoJudicialEcuador.Data.Count() Resultados)</h3>
                                        </div>                                          
                                    </div>
                                    <div class="table-responsive">
                                        @if (@Model.infoJudicialEcuador.Data.Count() > 0)
                                        {
                                            <table class="table table-bordered table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th class="th-sm" scope="col">Fecha</th>
                                                        <th class="th-sm" scope="col">No. proceso</th>
                                                        <th scope="col">Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.infoJudicialEcuador.Data)
                                                    {
                                                        <tr>
                                                            <td>@item.date</td>
                                                            <td>@item.nProccess</td>
                                                            <td>@item.action</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">información Judicial</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.infoJudicialEcuador.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

                <div class="col-12 mt-3">
                    @if (@Model.hasSunat)
                    {
                        @if (!@Model.sunat.HasError)
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Sunat</h3>
                                        </div>                                        
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm" scope="col">Número de RUC</th>
                                                    <th class="th-sm" scope="col">Tipo Contribuyente</th>
                                                    <th class="th-sm" scope="col">Nombre Comercial</th>
                                                    <th class="th-sm" scope="col">Fecha de Inscripción</th>
                                                    <th class="th-sm" scope="col">Fecha de Inicio de Actividades</th>
                                                    <th class="th-sm" scope="col">Estado del Contribuyente</th>
                                                    <th class="th-sm" scope="col">Condición del Contribuyente</th>
                                                    <th class="th-sm" scope="col">Domicilio Fiscal</th>
                                                    <th class="th-sm" scope="col">Sistema Emisión de Comprobante</th>
                                                    <th class="th-sm" scope="col">Actividad Comercio Exterior</th>
                                                    <th class="th-sm" scope="col">Sistema Contabilidad</th>
                                                    <th class="th-sm" scope="col">Actividad(es) Económica(s)</th>
                                                    <th class="th-sm" scope="col">Comprobantes de Pago c/aut. de impresión (F. 806 u 816)</th>
                                                    <th class="th-sm" scope="col">Sistema de Emisión Electrónica</th>
                                                    <th class="th-sm" scope="col">Emisor electrónico desde</th>
                                                    <th class="th-sm" scope="col">Comprobantes Electrónicos</th>
                                                    <th class="th-sm" scope="col">Afiliado al PLE desde</th>
                                                    <th class="th-sm" scope="col">Padrones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>@Model.sunat.Data.no_ruc</td>
                                                    <td>@Model.sunat.Data.tipo_cont</td>
                                                    <td>@Model.sunat.Data.nombre_comercial</td>
                                                    <td>@Model.sunat.Data.fecha_inscripcion</td>
                                                    <td>@Model.sunat.Data.fecha_inicio_actividades</td>
                                                    <td>@Model.sunat.Data.estado</td>
                                                    <td>@Model.sunat.Data.condicion</td>
                                                    <td>@Model.sunat.Data.domicilio</td>
                                                    <td>@Model.sunat.Data.sistema_emicion</td>
                                                    <td>@Model.sunat.Data.actividad_comercio_exterior</td>
                                                    <td>@Model.sunat.Data.sistema_contabilidad</td>
                                                    <td>@Model.sunat.Data.actividades_economicas</td>
                                                    <td>@Model.sunat.Data.comprobante_pago</td>
                                                    <td>@Model.sunat.Data.sistema_emision_electronica</td>
                                                    <td>@Model.sunat.Data.emision_electronica_desde</td>
                                                    <td>@Model.sunat.Data.comprobantes_electronicos</td>
                                                    <td>@Model.sunat.Data.afiliado_ple</td>
                                                    <td>@Model.sunat.Data.padrones</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card border h-100 border-dark">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="text-center fw-bold">
                                            <h3 class="text-primary-report">Sunat</h3>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-fixed">
                                            <thead>
                                                <tr>
                                                    <th class="th-sm text-center" scope="col">Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">@Model.sunat.ErrorMessage</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }                    
                </div>

            </article>
            <table style="border-bottom: 1px solid black; width: 100%">
                <tr>
                    <td class="section"></td>
                    <td style="text-align:right">
                        Page <span class="page"></span> of <span class="topage"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<footer> footer</footer>
@*@section Scripts{*@
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Latest compiled JavaScript -->
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>

<script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
<script>
    function subst() {
        var vars = {};
        var query_strings_from_url = document.location.search.substring(1).split('&');
        for (var query_string in query_strings_from_url) {
            if (query_strings_from_url.hasOwnProperty(query_string)) {
                var temp_var = query_strings_from_url[query_string].split('=', 2);
                vars[temp_var[0]] = decodeURI(temp_var[1]);
            }
        }
        var css_selector_classes = ['page', 'frompage', 'topage', 'webpage', 'section', 'subsection', 'date', 'isodate', 'time', 'title', 'doctitle', 'sitepage', 'sitepages'];
        for (var css_class in css_selector_classes) {
            if (css_selector_classes.hasOwnProperty(css_class)) {
                var element = document.getElementsByClassName(css_selector_classes[css_class]);
                for (var j = 0; j < element.length; ++j) {
                    element[j].textContent = vars[css_selector_classes[css_class]];
                }
            }
        }
    }
</script>
<script>
    function createChart() {
        var matriz = @Html.Raw(Json.Serialize(Model.heatMap))//JSON.parse('@Html.Raw(Json.Serialize(Model.heatMap))'); //@Html.Raw(Json.Serialize(Model.heatMap));//"@Model.heatMap";
        //var decoded = $("<div/>").html(matriz).text();
        //$("#chart").appendChild(decoded);

       
        //decoded = decoded.replace('"', '\"');
       var obj = JSON.parse(matriz);
        //decoded.transitions = "false";
        //console.log(obj)


        /* var tag = document.createElement("p");
        var text = document.createTextNode(typeof obj);
        tag.appendChild(text);
        var element = document.getElementById("chart");
        element.appendChild(tag);*/

        $("#chart").kendoChart(obj);
    }
    window.onload = function() {
        createChart();
    };
    //$(document).ready(function() {
    //    createChart();
    //});
    //Function.prototype.bind = Function.prototype.bind || function(thisp) {
    //    var fn = this;
    //    return function() {
    //        return fn.apply(thisp, arguments);
    //    };
    //};                                                                                                                   //$(document).ready(createChart);
</script>
@*}*@
